<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.goodee.ex15.domain.MemberDTO" alias="MemberDTO" />
		<typeAlias type="com.goodee.ex15.domain.SignOutMemberDTO" alias="SignOutMemberDTO" />
	</typeAliases>
	
</configuration>